h4 {
  margin-top: 25px;
  font-size: 60px;
}
h3{
  margin-left:15px;
  font-size: 20px;
 
}
pageTitle{
    margin-top: 40px;
    font-size: 40px;
}
marginleft20p {
    margin-left: 20px;

}
a{
  font-size: 24px;
  
}
.central{
  text-align: center;
}
.badgeSize{
  font-size: 15px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 20px;
  margin-bottom: 10;
}
.changeButton{
  margin-bottom: 5px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.backgroundgray {
    background-color: whitesmoke;
}
.black{
  color: black;
}
[class*="col-"] {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
  font-size: 22px;
  
}
.status{
  
  background-color: lightskyblue;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    
    height: auto;
    width: 100%;
    padding: 15px;
}
.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    height: 200px;
    width: auto;
    min-width: 150px;   
}

body { 
    padding-top: 120px; 
}
.navPadding{
  
  padding-left: 20px;
}
.glyphiconSize{
  
  font-size: 50px;
}
.glyphiconSizeButton{
  
  font-size: 40px;
}
.rotate {
  /* FF3.5+ */
  -moz-transform: rotate(90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(90.0deg);
  /* Standard */
  transform: rotate(90.0deg);
}
.modal-login {
    height: auto;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}